<section id="contact">
  <div class="container bottom-end">
    <div class="row">
      <div class="col-lg-9 col-sm-6 col-md-9">
        <div class="social-container">
          <span class="flex-item center-items section-title"
            ><h2>You can reach me at</h2></span
          >
          <div class="social-icons-container">
            <ul class="flex-item socials center-items">
              <li class="item-style">
                <a href="mailto:{{ myEmail }}"
                  ><fa-icon [icon]="gmail"></fa-icon
                ></a>
              </li>
              <li class="item-style">
                <a (click)="goToLink(myLinkedIn)"
                  ><fa-icon [icon]="linkedIn"></fa-icon
                ></a>
              </li>
              <li class="item-style">
                <a (click)="goToLink(myGithub)"
                  ><fa-icon [icon]="github"></fa-icon
                ></a>
              </li>
              <li class="item-style">
                <a (click)="goToLink(myDiscord)"
                  ><fa-icon [icon]="discord"></fa-icon
                ></a>
              </li>
              <li class="item-style">
                <a (click)="goToLink(myTelegram)"
                  ><fa-icon [icon]="telegram"></fa-icon
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-3">
        <div class="contact-info">
          <div class="flex-item center-items">
            <span class="profile-avatar">
              <img src="/assets/img/user-avatar.jpg" alt="" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
