<section id="experience" class="experience-area pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Experience</h2>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="single-experience-box">
          <div class="company-info">
            <div class="flex-item">
              <span class="inner-text"
                ><img
                  src="/assets/img/huawei.svg"
                  alt=""
                  class="experience-avatar-logoinc"
              /></span>
            </div>
            <div class="flex-item">
              <span class="inner-text"
                ><span class="sub-title d-block">Cloud Services Intern</span>
                <span class="date">October 2020 - December 2020</span></span
              >
            </div>
          </div>
          <div class="line"></div>
          <ul class="align-left">
            <li class="align-left margin-bot">
              Performed training and attended class in Cloud Computing
            </li>
            <li class="align-left margin-bot">
              Passed the HCIA Cloud Computing Certification
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="single-experience-box">
          <div class="company-info">
            <div class="flex-item">
              <span class="inner-text"
                ><img
                  src="/assets/img/logo-black.png"
                  alt=""
                  class="experience-avatar-logoinc"
              /></span>
            </div>
            <div class="flex-item">
              <span class="inner-text"
                ><span class="sub-title d-block">Software QA</span>
                <span class="date">July 2021 - Present</span></span
              >
            </div>
          </div>
          <div class="line"></div>
          <ul class="align-left">
            <li class="align-left margin-bot">
              Performs testing, monitoring, inspecting, and proposing measures
              to improve the organization’s final products to meet established
              quality standards.
            </li>
            <li class="align-left margin-bot">
              Participating in agile scrum methodology, including attending
              stand-up meetings to track progress and make adjustments as
              needed.
            </li>
            <li class="align-left margin-bot">
              Collaborating with the team in all stages of development,
              including planning, design, implementation, and testing.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
