<div id="home" class="main-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12">
        <div class="main-banner-content">
          <h1>Hi, I'm <br />Roeben!</h1>
          <p>
            Seeking for a challenging career that will further enhance my skills
            and abilities in the field of information technology and in turn, to
            provide and contribute quality and efficient service that will
            benefit the entire organization.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
